<%= stylesheet_link_tag "homes", :media => "all" %>

<div class=box>
<div class=heading>
  <h1>ようこそ <strong>Bookers</strong> へ！</h1>
</div>

<p class=body>
  <strong>Bookers</strong>
  では、さまざまな書籍に関するあなたの意見や</p>
<p class=body>印象を共有し交換することができます</p>

<p class=link><%= link_to "start", books_path %></p>
</div>