<%= stylesheet_link_tag "homes", :media => "all" %>

<div class=box>
<div class=box1>
  <h1>ようこそ<strong> Bookers </strong>へ！</h1>
</div>

<p class=box2>
  <strong>Bookers</strong>
  では、さまざまな書籍に関するあなたの意見や</p>
<p class=box2>印象を共有し交換することができます</p>

<p class=box2><%= link_to "start", books_path %></p>
</div>
</div>