// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #333;
}

.body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px ;
}
.title {
  margin: 17.42px 0px;
}

.colum-header {
  padding : 1px 1px 5px;
}
.cell {
  padding: 1px 5px 7px;
}
.cell2 {
  padding: 1px 5px 7px;
}
.cell2 a:hover{
  color: #fff;
  background-color: #000;
}

.newbook {
  display: block;
}
.title2 {
  margin: 16.185px 0px;
}
.book-title {
  padding: 1px 2px;
  margin-bottom: 10px;
}
.book-body {
  padding: 2px;
  margin-bottom: 10px;
}
.create {
  margin: 0px 0px 10px;
}
input {
  padding: 1px 6px;
}

.show {
  line-height: 18px;
  margin: 33px;
}
.link {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.link a:hover {
  color: #fff;
  background-color: #000;
}